footer.footer
	.container.footer__container
		.footer__col
			a.footer__logo(href='#')
				+icon('logo-2')
			.footer__slogan Управляем вашей инфраструктурой <br> и ускоряем бизнес
		.footer__col
			.footer__contacts
				a.footer__email(href='mailto:info@k2.cloud') info@k2.cloud
				a.footer__phone(href='tel:+74950193666') +7 (495) 019-36-66
			ul.footer__socials
				li
					a.footer__socials-icon(href='#')
						+icon('socials-bot')(width='26', height='23')
				li
					a.footer__socials-icon(href='#')
						+icon('socials-tg')(width='23', height='20')
				li
					a.footer__socials-icon(href='#')
						+icon('socials-habr')(width='18', height='19')
				li
					a.footer__socials-icon(href='#')
						+icon('socials-yt')(width='29', height='19')
