header.header
    .container.header__container
        .header__logos
            a.header__logo(href="#")
                +icon("logo")
            a.header__logo-cn(href="#")
                +icon("logo-cn")
        ul.header__menu
            li
                a(href="#")
                    span статьи
            li
                a(href="#")
                    span тренды
            li
                a(href="#")
                    span интервью
            li
                a(href="#")
                    span решения
        
