.article-block {
	$parent: &;

	padding-top: 283px;
	overflow: hidden;

	@include max(tl) {
		padding-top: 245px;
	}

	@include max(ti) {
		padding-top: 120px;
	}

	@include max(t) {
		padding-top: 162px;
	}

	&__container {
		padding-top: 80px;

		@include max(ti) {
			padding-top: 50px;
		}

		& > *:first-child {
			margin-top: 0;
		}
	}

	&__top {
		position: relative;
		z-index: 1;
		margin-bottom: 283px;

		@include max(ti) {
			margin-bottom: 0;
		}
	}

	&__main {
		position: relative;
		color: $black;

		@include max(ti) {
			margin-top: 0;
		}
	}

	&__link {
		display: inline-flex;
		align-items: center;
		gap: 8px;
		font-family: $secondFont;
		font-weight: 700;
		color: $color-main;
		font-size: 16px;
		line-height: 1.3;
		text-decoration: none;

		&:hover svg {
			transform: translateX(5px);
		}

		span {
			position: relative;
			z-index: 1;
		}

		svg {
			transform: translateX(0);
			transition: 0.3s ease;
		}
	}

	&__tags {
		margin-bottom: 78px;
	}

	&__title {
		font-size: 46px;
		margin-bottom: 56px;

		@include max(d) {
			font-size: fluid(38, 46, 992, 1280);
		}

		@include max(tl) {
			font-size: fluid(30, 38, 768, 992);
		}

		@include max(ti) {
			font-size: fluid(24, 30, 0, 768);
		}

		@include max(t) {
			margin-bottom: 30px;
		}
	}

	&__part {
		margin-bottom: 50px;
	}

	&__list {
		margin-bottom: 80px;

		@include max(t) {
			margin-bottom: 50px;
		}

		&--no-offset {
			margin-bottom: 0;
		}
	}

	&__description {
		margin-top: 44px;
	}

	&__quote {
		margin-bottom: 80px;
	}
}