.article-block {
	$parent: &;

	padding-top: 283px;
	overflow: hidden;

	@include max(tl) {
		padding-top: 245px;
	}

	@include max(ti) {
		padding-top: 120px;
	}

	@include max(t) {
		padding-top: 162px;
	}

	&__container {
		padding-top: 80px;

		@include max(ti) {
			padding-top: 50px;
		}

		& > *:first-child {
			margin-top: 0;
		}
	}

	&__top {
		position: relative;
		z-index: 1;
		margin-bottom: 283px;

		@include max(ti) {
			margin-bottom: 0;
		}
	}

	&__main {
		position: relative;
		color: $black;

		@include max(ti) {
			margin-top: 0;
		}

		/*h1,
		h2,
		h3,
		h4 {
			color: $black;
			font-weight: 400;
			line-height: 1;
		}

		h1 {
			margin-top: 90px;
			margin-bottom: 42px;
			font-size: 50px;

			@include max(tl) {
				font-size: 40px;
			}

			@include max(ti) {
				margin-top: 60px;
				margin-bottom: 22px;
				font-size: 32px;
			}

			@include max(t) {
				font-size: 26px;
			}
		}

		h2 {
			display: block;
			margin-top: 90px;
			font-size: 46px;

			@include max(tl) {
				font-size: 38px;
			}

			@include max(ti) {
				margin-top: 60px;
				font-size: 30px;
			}

			@include max(t) {
				font-size: 24px;
			}
		}

		h3 {
			display: inline-block;
			background-color: $color-main;
			padding: 10px 12px;
			border-radius: 12px;
			margin-top: 80px;
			margin-bottom: 42px;
			font-size: 32px;

			@include max(ti) {
				margin-top: 60px;
				margin-bottom: 22px;
				font-size: 24px;
			}

			@include max(t) {
				font-size: 20px;
			}
		}

		h4 {
			font-size: 24px;
			margin-top: 30px;
			margin-bottom: 30px;

			@include max(ti) {
				font-size: 22px;
				margin-top: 20px;
				margin-bottom: 20px;
			}

			@include max(t) {
				font-size: 20px;
			}
		}

		p:not(.popup_img) {
			font-family: $secondFont;
			color: $black;
			font-size: 16px;
			margin-bottom: 20px;

			@include max(t) {
				font-size: 14px;
			}
		}

		a {
			color: $black;
			text-decoration: underline;
			text-underline-offset: 3px;

			&:hover {
				text-decoration: none;
			}
		}

		table {
			width: 100%;
			border-collapse: collapse;
			margin-bottom: 20px;
			word-break: break-word;

			td {
				border: 1px solid rgba($black, 0.7);
				padding: 8px 10px;

				@include max(t) {
					font-size: 14px;
				}
			}
		}

		.text-note {
			padding: 30px 20px;
			background-color: $color-background;
			box-shadow: 0 0 20px 10px rgba(0, 0, 0, 0.3);
			margin-bottom: 40px;
			margin-left: calc((-100vw + 1020px) / 2);
			margin-right: calc((-100vw + 1018px) / 2);
			padding-left: calc((100vw - 1020px) / 2);
			padding-right: calc((100vw - 1020px) / 2);

			@include max(1100) {
				margin-right: -40px;
				padding-right: 40px;
				margin-left: -40px;
				padding-left: 40px;
			}

			@include max(ti) {
				margin-right: -20px;
				padding-right: 20px;
				margin-left: -20px;
				padding-left: 20px;
				margin-bottom: 20px;
			}

			h1,
			h2,
			h3,
			h4,
			p,
			span {
				color: $white !important;
				background-color: unset !important;
			}
		}

		.opinion {
			display: flex;
			gap: 24px;
			padding: 42px 24px 25px;
			background-color: $white;
			border-radius: 2px;

			@include max(t) {
				flex-direction: column;
			}

			.o-txt-cn {
				position: relative;
				display: flex;
				flex-direction: column;

				&::before {
					content: "";
					position: absolute;
					top: 140px;
					right: calc(100% + 24px);
					width: 123px;
					height: 70px;
					background-image: url('data:image/svg+xml,<svg width="124" height="70" viewBox="0 0 124 70" fill="none" xmlns="http://www.w3.org/2000/svg"><mask id="path-1-inside-1_2443_9" fill="white"><path fill-rule="evenodd" clip-rule="evenodd" d="M0 11.1111C0 4.97461 4.97461 0 11.1111 0H47.2214C53.3579 0 58.3325 4.97461 58.3325 11.1111V49.2584C58.3325 49.2585 58.3324 49.2585 58.3324 49.2585C58.3323 49.2585 58.3323 49.2586 58.3323 49.2587V64.1663C58.3323 67.3879 55.7207 69.9995 52.4991 69.9995H46.6661C46.666 69.9995 46.6659 69.9996 46.6659 69.9997C46.6659 69.9998 46.6658 69.9999 46.6657 69.9999H43.4252C41.6354 69.9999 40.1845 68.549 40.1845 66.7592V66.111C40.1845 64.6792 41.3452 63.5185 42.777 63.5185C44.2088 63.5185 45.3695 62.3578 45.3695 60.926V56.3885C45.3695 52.4507 42.1773 49.2585 38.2395 49.2585H11.1111C4.97461 49.2585 0 44.2839 0 38.1474V11.1111Z"/></mask><path d="M47.2214 -1H11.1111V1H47.2214V-1ZM59.3325 49.2584V11.1111H57.3325V49.2584H59.3325ZM57.3323 49.2587V64.1663H59.3323V49.2587H57.3323ZM52.4991 68.9995H46.6661V70.9995H52.4991V68.9995ZM43.4252 70.9999H46.6657V68.9999H43.4252V70.9999ZM39.1845 66.111V66.7592H41.1845V66.111H39.1845ZM46.3695 60.926V56.3885H44.3695V60.926H46.3695ZM11.1111 50.2585H38.2395V48.2585H11.1111V50.2585ZM-1 11.1111V38.1474H1V11.1111H-1ZM11.1111 48.2585C5.5269 48.2585 1 43.7316 1 38.1474H-1C-1 44.8362 4.42233 50.2585 11.1111 50.2585V48.2585ZM46.3695 56.3885C46.3695 51.8985 42.7296 48.2585 38.2395 48.2585V50.2585C41.625 50.2585 44.3695 53.003 44.3695 56.3885H46.3695ZM42.777 64.5185C44.7611 64.5185 46.3695 62.9101 46.3695 60.926H44.3695C44.3695 61.8055 43.6565 62.5185 42.777 62.5185V64.5185ZM41.1845 66.111C41.1845 65.2315 41.8975 64.5185 42.777 64.5185V62.5185C40.7929 62.5185 39.1845 64.1269 39.1845 66.111H41.1845ZM43.4252 68.9999C42.1877 68.9999 41.1845 67.9967 41.1845 66.7592H39.1845C39.1845 69.1012 41.0831 70.9999 43.4252 70.9999V68.9999ZM45.6659 69.9997C45.6659 69.4467 46.1143 68.9999 46.6657 68.9999V70.9999C47.2174 70.9999 47.6659 70.5528 47.6659 69.9997H45.6659ZM46.6661 68.9995C46.1123 68.9995 45.6659 69.4487 45.6659 69.9997H47.6659C47.6659 70.5505 47.2196 70.9995 46.6661 70.9995V68.9995ZM57.3323 64.1663C57.3323 66.8356 55.1684 68.9995 52.4991 68.9995V70.9995C56.273 70.9995 59.3323 67.9401 59.3323 64.1663H57.3323ZM58.3324 48.2585C57.78 48.2585 57.3323 48.7063 57.3323 49.2587H59.3323C59.3323 49.8109 58.8846 50.2585 58.3324 50.2585V48.2585ZM57.3325 49.2584C57.3325 48.7062 57.7802 48.2585 58.3324 48.2585V50.2585C58.8847 50.2585 59.3325 49.8108 59.3325 49.2584H57.3325ZM11.1111 -1C4.42232 -1 -1 4.42233 -1 11.1111H1C1 5.5269 5.52689 1 11.1111 1V-1ZM47.2214 1C52.8056 1 57.3325 5.5269 57.3325 11.1111H59.3325C59.3325 4.42233 53.9102 -1 47.2214 -1V1Z" fill="%2346CFFF" mask="url(%23path-1-inside-1_2443_9)"/><mask id="path-3-inside-2_2443_9" fill="white"><path fill-rule="evenodd" clip-rule="evenodd" d="M64.8138 11.1111C64.8138 4.97461 69.7885 0 75.9249 0H112.035C118.172 0 123.146 4.97461 123.146 11.1111V49.2585C123.146 49.2585 123.146 49.2585 123.146 49.2585C123.146 49.2585 123.146 49.2586 123.146 49.2586V64.1663C123.146 67.3879 120.535 69.9995 117.313 69.9995H111.48C111.48 69.9995 111.48 69.9996 111.48 69.9997C111.48 69.9998 111.48 69.9999 111.48 69.9999H108.239C106.449 69.9999 104.998 68.549 104.998 66.7592V66.111C104.998 64.6792 106.159 63.5185 107.591 63.5185C109.023 63.5185 110.183 62.3578 110.183 60.926V56.3885C110.183 52.4507 106.991 49.2585 103.053 49.2585H75.925C69.7885 49.2585 64.8138 44.2839 64.8138 38.1474V11.1111Z"/></mask><path d="M112.035 -1H75.9249V1H112.035V-1ZM124.146 49.2585V11.1111H122.146V49.2585H124.146ZM122.146 49.2586V64.1663H124.146V49.2586H122.146ZM117.313 68.9995H111.48V70.9995H117.313V68.9995ZM108.239 70.9999H111.48V68.9999H108.239V70.9999ZM103.998 66.111V66.7592H105.998V66.111H103.998ZM111.183 60.926V56.3885H109.183V60.926H111.183ZM75.925 50.2585H103.053V48.2585H75.925V50.2585ZM63.8138 11.1111V38.1474H65.8138V11.1111H63.8138ZM75.925 48.2585C70.3407 48.2585 65.8138 43.7316 65.8138 38.1474H63.8138C63.8138 44.8362 69.2362 50.2585 75.925 50.2585V48.2585ZM111.183 56.3885C111.183 51.8985 107.543 48.2585 103.053 48.2585V50.2585C106.439 50.2585 109.183 53.003 109.183 56.3885H111.183ZM107.591 64.5185C109.575 64.5185 111.183 62.9101 111.183 60.926H109.183C109.183 61.8055 108.47 62.5185 107.591 62.5185V64.5185ZM105.998 66.111C105.998 65.2315 106.711 64.5185 107.591 64.5185V62.5185C105.607 62.5185 103.998 64.1269 103.998 66.111H105.998ZM108.239 68.9999C107.002 68.9999 105.998 67.9967 105.998 66.7592H103.998C103.998 69.1012 105.897 70.9999 108.239 70.9999V68.9999ZM110.48 69.9997C110.48 69.4467 110.928 68.9999 111.48 68.9999V70.9999C112.031 70.9999 112.48 70.5528 112.48 69.9997H110.48ZM111.48 68.9995C110.926 68.9995 110.48 69.4487 110.48 69.9997H112.48C112.48 70.5505 112.034 70.9995 111.48 70.9995V68.9995ZM122.146 64.1663C122.146 66.8356 119.982 68.9995 117.313 68.9995V70.9995C121.087 70.9995 124.146 67.9401 124.146 64.1663H122.146ZM123.146 48.2585C122.594 48.2585 122.146 48.7063 122.146 49.2586H124.146C124.146 49.8109 123.698 50.2585 123.146 50.2585V48.2585ZM122.146 49.2585C122.146 48.7062 122.594 48.2585 123.146 48.2585V50.2585C123.699 50.2585 124.146 49.8108 124.146 49.2585H122.146ZM75.9249 -1C69.2362 -1 63.8138 4.42233 63.8138 11.1111H65.8138C65.8138 5.5269 70.3407 1 75.9249 1V-1ZM112.035 1C117.619 1 122.146 5.5269 122.146 11.1111H124.146C124.146 4.42233 118.724 -1 112.035 -1V1Z" fill="%2346CFFF" mask="url(%23path-3-inside-2_2443_9)"/></svg>');
					background-repeat: no-repeat;

					@include max(t) {
						display: none;
					}
				}

				p {
					&:first-child,
					&:nth-child(2) {
						margin-bottom: 0;
					}

					&:nth-child(2) {
						position: relative;

						&::before {
							content: "";
							position: absolute;
							top: calc(100% + 10px);
							left: 0;
							display: none;
							width: 123px;
							height: 70px;
							background-image: url('data:image/svg+xml,<svg width="124" height="70" viewBox="0 0 124 70" fill="none" xmlns="http://www.w3.org/2000/svg"><mask id="path-1-inside-1_2443_9" fill="white"><path fill-rule="evenodd" clip-rule="evenodd" d="M0 11.1111C0 4.97461 4.97461 0 11.1111 0H47.2214C53.3579 0 58.3325 4.97461 58.3325 11.1111V49.2584C58.3325 49.2585 58.3324 49.2585 58.3324 49.2585C58.3323 49.2585 58.3323 49.2586 58.3323 49.2587V64.1663C58.3323 67.3879 55.7207 69.9995 52.4991 69.9995H46.6661C46.666 69.9995 46.6659 69.9996 46.6659 69.9997C46.6659 69.9998 46.6658 69.9999 46.6657 69.9999H43.4252C41.6354 69.9999 40.1845 68.549 40.1845 66.7592V66.111C40.1845 64.6792 41.3452 63.5185 42.777 63.5185C44.2088 63.5185 45.3695 62.3578 45.3695 60.926V56.3885C45.3695 52.4507 42.1773 49.2585 38.2395 49.2585H11.1111C4.97461 49.2585 0 44.2839 0 38.1474V11.1111Z"/></mask><path d="M47.2214 -1H11.1111V1H47.2214V-1ZM59.3325 49.2584V11.1111H57.3325V49.2584H59.3325ZM57.3323 49.2587V64.1663H59.3323V49.2587H57.3323ZM52.4991 68.9995H46.6661V70.9995H52.4991V68.9995ZM43.4252 70.9999H46.6657V68.9999H43.4252V70.9999ZM39.1845 66.111V66.7592H41.1845V66.111H39.1845ZM46.3695 60.926V56.3885H44.3695V60.926H46.3695ZM11.1111 50.2585H38.2395V48.2585H11.1111V50.2585ZM-1 11.1111V38.1474H1V11.1111H-1ZM11.1111 48.2585C5.5269 48.2585 1 43.7316 1 38.1474H-1C-1 44.8362 4.42233 50.2585 11.1111 50.2585V48.2585ZM46.3695 56.3885C46.3695 51.8985 42.7296 48.2585 38.2395 48.2585V50.2585C41.625 50.2585 44.3695 53.003 44.3695 56.3885H46.3695ZM42.777 64.5185C44.7611 64.5185 46.3695 62.9101 46.3695 60.926H44.3695C44.3695 61.8055 43.6565 62.5185 42.777 62.5185V64.5185ZM41.1845 66.111C41.1845 65.2315 41.8975 64.5185 42.777 64.5185V62.5185C40.7929 62.5185 39.1845 64.1269 39.1845 66.111H41.1845ZM43.4252 68.9999C42.1877 68.9999 41.1845 67.9967 41.1845 66.7592H39.1845C39.1845 69.1012 41.0831 70.9999 43.4252 70.9999V68.9999ZM45.6659 69.9997C45.6659 69.4467 46.1143 68.9999 46.6657 68.9999V70.9999C47.2174 70.9999 47.6659 70.5528 47.6659 69.9997H45.6659ZM46.6661 68.9995C46.1123 68.9995 45.6659 69.4487 45.6659 69.9997H47.6659C47.6659 70.5505 47.2196 70.9995 46.6661 70.9995V68.9995ZM57.3323 64.1663C57.3323 66.8356 55.1684 68.9995 52.4991 68.9995V70.9995C56.273 70.9995 59.3323 67.9401 59.3323 64.1663H57.3323ZM58.3324 48.2585C57.78 48.2585 57.3323 48.7063 57.3323 49.2587H59.3323C59.3323 49.8109 58.8846 50.2585 58.3324 50.2585V48.2585ZM57.3325 49.2584C57.3325 48.7062 57.7802 48.2585 58.3324 48.2585V50.2585C58.8847 50.2585 59.3325 49.8108 59.3325 49.2584H57.3325ZM11.1111 -1C4.42232 -1 -1 4.42233 -1 11.1111H1C1 5.5269 5.52689 1 11.1111 1V-1ZM47.2214 1C52.8056 1 57.3325 5.5269 57.3325 11.1111H59.3325C59.3325 4.42233 53.9102 -1 47.2214 -1V1Z" fill="%2346CFFF" mask="url(%23path-1-inside-1_2443_9)"/><mask id="path-3-inside-2_2443_9" fill="white"><path fill-rule="evenodd" clip-rule="evenodd" d="M64.8138 11.1111C64.8138 4.97461 69.7885 0 75.9249 0H112.035C118.172 0 123.146 4.97461 123.146 11.1111V49.2585C123.146 49.2585 123.146 49.2585 123.146 49.2585C123.146 49.2585 123.146 49.2586 123.146 49.2586V64.1663C123.146 67.3879 120.535 69.9995 117.313 69.9995H111.48C111.48 69.9995 111.48 69.9996 111.48 69.9997C111.48 69.9998 111.48 69.9999 111.48 69.9999H108.239C106.449 69.9999 104.998 68.549 104.998 66.7592V66.111C104.998 64.6792 106.159 63.5185 107.591 63.5185C109.023 63.5185 110.183 62.3578 110.183 60.926V56.3885C110.183 52.4507 106.991 49.2585 103.053 49.2585H75.925C69.7885 49.2585 64.8138 44.2839 64.8138 38.1474V11.1111Z"/></mask><path d="M112.035 -1H75.9249V1H112.035V-1ZM124.146 49.2585V11.1111H122.146V49.2585H124.146ZM122.146 49.2586V64.1663H124.146V49.2586H122.146ZM117.313 68.9995H111.48V70.9995H117.313V68.9995ZM108.239 70.9999H111.48V68.9999H108.239V70.9999ZM103.998 66.111V66.7592H105.998V66.111H103.998ZM111.183 60.926V56.3885H109.183V60.926H111.183ZM75.925 50.2585H103.053V48.2585H75.925V50.2585ZM63.8138 11.1111V38.1474H65.8138V11.1111H63.8138ZM75.925 48.2585C70.3407 48.2585 65.8138 43.7316 65.8138 38.1474H63.8138C63.8138 44.8362 69.2362 50.2585 75.925 50.2585V48.2585ZM111.183 56.3885C111.183 51.8985 107.543 48.2585 103.053 48.2585V50.2585C106.439 50.2585 109.183 53.003 109.183 56.3885H111.183ZM107.591 64.5185C109.575 64.5185 111.183 62.9101 111.183 60.926H109.183C109.183 61.8055 108.47 62.5185 107.591 62.5185V64.5185ZM105.998 66.111C105.998 65.2315 106.711 64.5185 107.591 64.5185V62.5185C105.607 62.5185 103.998 64.1269 103.998 66.111H105.998ZM108.239 68.9999C107.002 68.9999 105.998 67.9967 105.998 66.7592H103.998C103.998 69.1012 105.897 70.9999 108.239 70.9999V68.9999ZM110.48 69.9997C110.48 69.4467 110.928 68.9999 111.48 68.9999V70.9999C112.031 70.9999 112.48 70.5528 112.48 69.9997H110.48ZM111.48 68.9995C110.926 68.9995 110.48 69.4487 110.48 69.9997H112.48C112.48 70.5505 112.034 70.9995 111.48 70.9995V68.9995ZM122.146 64.1663C122.146 66.8356 119.982 68.9995 117.313 68.9995V70.9995C121.087 70.9995 124.146 67.9401 124.146 64.1663H122.146ZM123.146 48.2585C122.594 48.2585 122.146 48.7063 122.146 49.2586H124.146C124.146 49.8109 123.698 50.2585 123.146 50.2585V48.2585ZM122.146 49.2585C122.146 48.7062 122.594 48.2585 123.146 48.2585V50.2585C123.699 50.2585 124.146 49.8108 124.146 49.2585H122.146ZM75.9249 -1C69.2362 -1 63.8138 4.42233 63.8138 11.1111H65.8138C65.8138 5.5269 70.3407 1 75.9249 1V-1ZM112.035 1C117.619 1 122.146 5.5269 122.146 11.1111H124.146C124.146 4.42233 118.724 -1 112.035 -1V1Z" fill="%2346CFFF" mask="url(%23path-3-inside-2_2443_9)"/></svg>');
							background-repeat: no-repeat;

							@include max(t) {
								display: block;
							}
						}
					}
				}
			}

			p {
				color: $black !important;
				font-family: $secondFont;
				font-weight: 300;
				font-size: 16px;

				@include max(t) {
					font-size: 14px;
				}

				span {
					color: $black !important;
				}

				i {
					font-style: normal;
					color: $black !important;

					strong {
						color: $black !important;
					}
				}
			}

			.o-photo-cn {
				display: inline-block;
				min-width: 120px;
				max-width: 120px;
				height: 120px;
				background-color: $black;
				border-radius: 24px;
				margin-bottom: 90px;
				overflow: hidden;

				@include max(t) {
					margin-bottom: 0;
				}

				p {
					height: 100%;
					margin-bottom: 24px;
				}

				img {
					width: 100%;
					height: 100%;
					object-fit: cover;
				}
			}

			h1,
			h2,
			h3,
			h4,
			p,
			span {
				color: $black !important;
				background-color: unset !important;
			}
		}

		.image {
			margin-top: 30px;
			margin-bottom: 30px;

			.img-container {
				position: relative;

				.popup_img {
					display: inline-block;
					width: 100%;
				}
			}

			img {
				margin: auto;
			}

			.img-source,
			figcaption {
				color: rgba(0, 0, 0, 0.8);
				font-size: 14px;
				text-align: center;
				margin: 40px 0 20px;
				@include max(t) {
					font-size: 12px;
				}
			}

			.img-source {
				position: absolute;
				bottom: -40px;
				left: 50%;
				transform: translateX(-50%);
				background-color: rgba(0, 0, 0, 0.6);
				padding: 8px 10px;
				transition: background-color 0.3s ease;

				&:hover {
					background-color: rgba(0, 0, 0, 0.3);
				}

				a {
					color: #fff;
					text-decoration: none;
				}
			}
		}

		.subtitle-with-picture {
			display: flex;
			align-items: center;
			gap: 20px;

			&__image {
				min-width: 100px;
				max-width: 100px;
				height: 100px;
				border-radius: 50%;
				overflow: hidden;
				margin-left: -120px;

				@include max(d) {
					margin-left: 0;
				}

				img {
					width: 100%;
					height: 100%;
					object-fit: cover;
				}
			}
		}

		ul {
			display: flex;
			flex-wrap: wrap;
			gap: 20px;
			list-style-image: url("../images/dot.png");
			list-style-position: inside;
			padding: 24px 24px 20px;
			border-radius: 2px;
			margin: inherit;
			background-color: $black;

			li {
				width: calc(50% - 10px);
				color: $white;
				font-weight: 300;
				font-size: 16px;
				margin-bottom: 14px;

				@include max(t) {
					width: 100%;
					margin-bottom: 10px;
				}
			}
		}*/
	}

	&__link {
		display: inline-flex;
		align-items: center;
		gap: 8px;
		font-family: $secondFont;
		font-weight: 700;
		color: $color-main;
		font-size: 16px;
		line-height: 1.3;
		text-decoration: none;
		margin-top: 75px;

		@include max(t) {
			margin-top: 40px;
		}

		&:hover svg {
			transform: translateX(5px);
		}

		span {
			position: relative;
			z-index: 1;
		}

		svg {
			transform: translateX(0);
			transition: 0.3s ease;
		}
	}

	&__tags {
		margin-bottom: 78px;
	}

	&__title {
		font-size: 46px;
		margin-bottom: 56px;

		@include max(tl) {
			font-size: 38px;
		}

		@include max(ti) {
			font-size: 30px;
		}

		@include max(t) {
			font-size: 24px;
		}
	}
}