.button {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	max-width: 336px;
	width: 100%;
	padding: 12px 20px;
	border-radius: 16px;
	background-color: $color-main;
	color: $black;
	font-size: 18px;
	line-height: 1;
	text-align: center;
	text-transform: uppercase;
	cursor: pointer;
	transition: 0.3s ease;

	&:hover {
		background-color: rgba($color-main, 0.7);
	}
}