.feedback {
	padding-top: 76px;

	@include max(ti) {
		padding-top: 40px;
	}

	&__title {
		max-width: 725px;
	}

	&__form {
		display: flex;
		flex-wrap: wrap;
		gap: 20px;
		max-width: 932px;
		margin-top: 45px;

		@include max(ti) {
			margin-top: 20px;
		}
	}

	&__field {
		width: calc(50% - 10px);

		@include max(ti) {
			width: 100%;
		}
	}

	&__submit {
		max-width: 172px;
		padding: 15px 20px;
		border-radius: 20px;
		margin-top: 34px;

		@include max(ti) {
			margin-top: 20px;
		}
	}
}