.footer {
	$parent: &;

	position: relative;
	z-index: 10;
	padding: 68px 0;
	border-radius: 40px 40px 0 0;
	background-color: $black;
	margin-top: 80px;

	@include max(ti) {
		margin-top: 60px;
	}

	&__container {
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: 20px;

		@include max(ti) {
			flex-direction: column;
			gap: 40px;
		}
	}

	&__col {
		&:first-child {
			@include max(ti) {
				display: flex;
				flex-direction: column;
				align-items: center;
			}
		}

		&:last-child {
			display: flex;
			align-items: center;
			gap: 75px;

			@include max(tl) {
				gap: 50px;
			}

			@include max(ti) {
				flex-direction: column;
				gap: 40px;
			}
		}
	}

	&__contacts {
		display: flex;
		align-items: center;
		gap: 53px;

		@include max(tl) {
			flex-direction: column;
			gap: 20px;
		}
	}

	&__logo {
		transition: 0.3s ease;

		&:hover {
			opacity: 0.7;
		}

		svg {
			width: 153px;
			height: 23px;
		}
	}

	&__slogan {
		color: $white;
		font-size: 18px;
		line-height: 1;
		margin-top: 20px;

		@include max(ti) {
			text-align: center;
			margin-top: 10px;
		}

		br {
			@include max(d) {
				display: none;
			}
		}
	}

	&__email {
		color: $white;
		font-family: $secondFont;
		font-size: 12px;
		line-height: 1.1;
		text-decoration: underline;

		&:hover {
			text-decoration: none;
		}
	}

	&__phone {
		display: flex;
		align-items: center;
		justify-content: center;
		background-color: $white;
		border-radius: 11px;
		padding: 12px 16px;
		font-family: $secondFont;
		font-size: 12px;
		line-height: 1.1;
		white-space: nowrap;
		transition: 0.3s ease;

		&:hover {
			background-color: rgba($white, 0.7);
		}
	}

	&__socials {
		display: flex;
		align-items: center;
		gap: 18px;
	}

	&__socials-icon {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 38px;
		height: 38px;
		background-color: $white;
		border-radius: 10px;
		transition: 0.3s ease;

		&:hover {
			background-color: rgba($white, 0.7);
		}

		svg {
			color: $black;
		}
	}

	&__adv {
		position: absolute;
		left: 20px;
		bottom: 20px;
		cursor: pointer;

		&:hover {
			#{$parent}__adv-tooltip {
				opacity: 1;
				pointer-events: auto;
			}
		}

		span {
			display: flex;
			align-items: center;
			gap: 8px;
			color: $white;
			font-size: 12px;

			&::before {
				content: "";
				width: 10px;
				height: 10px;
				background-color: $white;
			}
		}
	}

	&__adv-tooltip {
		position: absolute;
		left: 0;
		bottom: 100%;
		width: 270px;
		border: 2px solid $white;
		background: rgba($color-main, 0.7);
		backdrop-filter: blur(11px);
		border-radius: 2px;
		padding: 20px 10px;
		opacity: 0;
		pointer-events: none;
		transition: 0.3s ease;
	}

	&__adv-tooltip-block {
		color: $white;
		font-size: 12px;
		line-height: 1.2;

		a {
			color: $white;
			text-decoration: underline;

			&:hover {
				text-decoration: none;
			}
		}

		& + #{$parent}__adv-tooltip-block {
			margin-top: 12px;
			padding-top: 12px;
			border-top: 1px solid $white;
		}
	}
}
