.infographic {
	padding-top: 7px;

	&__title {
		font-size: 18px;
		line-height: 1;
	}

	&__wrapper {
		display: flex;
		align-items: flex-end;
		gap: 4px;
		margin-top: 12px;

		&--center {
			align-items: center;
		}
	}

	&__col {
		width: calc(50% - 2px);
	}

	&__progress {
		margin-top: 39px;
	}
}