.interview {
	overflow: hidden;

	&__wrapper {
		display: flex;
		flex-wrap: wrap;
		gap: 8px;
		margin-top: 34px;
	}

	&__card {
		width: calc(50% - 4px);

		@include max(ti) {
			width: 100%;
		}
	}
}