.interview-card {
	$parent: &;

	position: relative;
	border-radius: 40px;
	overflow: hidden;

	&--main {
		overflow: visible;

		@include max(d) {
			overflow: hidden;
		}

		#{$parent} {
			&__quote {
				max-width: 600px;
				color: $color-main;
				font-weight: 400;
				font-size: 46px;
				line-height: 1;
				margin-bottom: 41px;

				@include max(d) {
					font-size: fluid(30, 46, 992, 1280);
				}

				@include max(tl) {
					max-width: 740px;
					font-size: fluid(28, 30, 768, 992);
				}

				@include max(ti) {
					font-size: fluid(25, 28, 0, 768);
				}

				&--big {
					max-width: 740px;
				}

				br {
					@include max(tl) {
						display: none;
					}
				}
			}

			&__position {
				margin-bottom: 0;
			}

			&__image {
				max-width: 636px;
				border-radius: 40px;
				overflow: hidden;

				@include max(d) {
					max-width: 300px;
					border-radius: 0;
				}

				@include max(tl) {
					max-width: 200px;
				}

				@include max(t) {
					max-width: 130px;
				}
			}

			&__content {
				padding-top: 111px;
				padding-bottom: 27px;
			}
		}
	}

	&__link {
		position: absolute;
		inset: 0;
		z-index: 2;

		&:hover {
			& ~ #{$parent}__filler {
				#{$parent} {
					&__filler-angle,
					&__filler-blocks::before,
					&__filler-blocks::after {
						background-color: $black;
					}
				}
			}

			& ~ #{$parent}__content {
				#{$parent} {
					&__type,
					&__quote,
					&__name,
					&__position {
						color: $white;
					}
				}
			}
		}
	}

	&__image {
		position: absolute;
		bottom: 0;
		right: 0;
		z-index: 1;

		@include max(d) {
			max-width: 300px;
		}

		@include max(tl) {
			max-width: 200px;
		}

		@include max(t) {
			max-width: 130px;
		}
	}

	&__filler {
		position: absolute;
		inset: 0;
	}

	&__filler-angle {
		position: absolute;
		top: 20px;
		left: 220px;
		width: 40px;
		height: 40px;
		background-color: $white;
		transition: 0.3s ease;

		&::after {
			content: "";
			position: absolute;
			inset: 0;
			border-bottom-left-radius: 50%;
			background-color: $color-background;
		}
	}

	&__filler-blocks {
		position: relative;
		width: 100%;
		height: 100%;

		&::before,
		&::after {
			content: "";
			position: absolute;
			bottom: 0;
			height: calc(100% - 60px);
			border-radius: 40px;
			background-color: $white;
			transition: 0.3s ease;
		}

		&::before {
			top: 0;
			left: 0;
			width: 220px;
		}

		&::after {
			width: 100%;
		}
	}

	&__content {
		position: relative;
		z-index: 1;
		display: flex;
		flex-direction: column;
		height: 100%;
		padding: 90px 200px 24px 33px;

		@include max(tl) {
			padding-right: 100px;
		}

		@include max(t) {
			padding-right: 33px;
		}
	}

	&__type {
		position: absolute;
		top: 23px;
		left: 33px;
		color: $color-gray;
		font-size: 18px;
		line-height: 1;
		text-transform: uppercase;
		transition: 0.3s ease;
	}

	&__quote {
		display: flex;
		align-items: flex-start;
		gap: 12px;
		min-height: 80px;
		font-size: 20px;
		line-height: 1;
		transition: 0.3s ease;

		@include max(ti) {
			min-height: auto;
		}

		svg {
			min-width: 27px;
			color: $color-main;
		}

		br {
			@include max(d) {
				display: none;
			}
		}
	}

	&__name,
	&__position,
	&__link {
		font-family: $secondFont;
		font-size: 16px;
		line-height: 1.25;
		transition: 0.3s ease;
	}

	&__name {
		font-weight: 700;
		margin-top: 15px;

		@include max(400) {
			max-width: 150px;
		}
	}

	&__position {
		font-weight: 300;
		margin-bottom: 40px;

		@include max(400) {
			max-width: 150px;
		}
	}

	&__read {
		color: $color-main;
		font-weight: 700;
		margin-top: auto;
	}
}