.interview-block {
	$parent: &;

	padding-top: 233px;
	overflow: hidden;

	@include max(ti) {
		padding-top: 120px;
	}

	@include max(t) {
		padding-top: 162px;
	}

	&__annonce {
		max-width: 868px;
		font-family: $secondFont;
		font-weight: 300;
		font-size: 24px;
		line-height: 1;
		margin-top: 100px;

		@include max(tl) {
			margin-top: 60px;
		}

		@include max(ti) {
			margin-top: 30px;
		}

		br {
			@include max(tl) {
				display: none;
			}
		}
	}

	&__banner {
		max-width: 1400px;
		width: 100%;
		margin-top: 107px;
		margin-left: auto;
		margin-right: auto;

		@include max(tl) {
			margin-top: 60px;
		}

		@include max(ti) {
			margin-top: 30px;
		}

		& + .container {
			margin-top: 120px;

			@include max(tl) {
				margin-top: 60px;
			}

			@include max(ti) {
				margin-top: 30px;
			}
		}

		img {
			width: 100%;
			height: 100%;
			aspect-ratio: 16 / 6;
			object-fit: cover;
		}

		&--top {
			img {
				object-position: top;
			}
		}
	}

	&__quote {
		max-width: 872px;
		font-size: 46px;
		line-height: 1;
		margin-top: 100px;
		margin-bottom: 108px;

		@include max(tl) {
			font-size: 38px;
			margin-top: 60px;
			margin-bottom: 60px;
		}

		@include max(ti) {
			font-size: 32px;
			margin-top: 30px;
			margin-bottom: 30px;
		}

		@include max(t) {
			font-size: 24px;
		}

		&::before {
			content: "";
			display: inline-block;
			width: 70px;
			height: 40px;
			background-image: url('data:image/svg+xml,<svg width="70" height="40" viewBox="0 0 70 40" fill="none" xmlns="http://www.w3.org/2000/svg"><mask id="path-1-inside-1_2518_1232" fill="white"><path fill-rule="evenodd" clip-rule="evenodd" d="M0 6.31588C0 2.82772 2.82772 0 6.31588 0H26.842C30.3302 0 33.1579 2.82772 33.1579 6.31588V27.9878C33.1579 27.9879 33.1579 27.9879 33.1578 27.9879C33.1578 27.9879 33.1578 27.9879 33.1578 27.988V36.4568C33.1578 38.288 31.6732 39.7726 29.842 39.7726H26.5262C26.5262 39.7726 26.5261 39.7726 26.5261 39.7726C26.5261 39.7727 26.5261 39.7727 26.5261 39.7727H24.6832C23.6663 39.7727 22.8419 38.9483 22.8419 37.9314V37.5638C22.8419 36.7499 23.5017 36.0901 24.3156 36.0901C25.1295 36.0901 25.7894 35.4303 25.7894 34.6164V32.039C25.7894 29.8016 23.9756 27.9879 21.7383 27.9879H6.31588C2.82772 27.9879 0 25.1602 0 21.672V6.31588Z"/></mask><path d="M26.842 -1H6.31588V1H26.842V-1ZM34.1579 27.9878V6.31588H32.1579V27.9878H34.1579ZM32.1578 27.988V36.4568H34.1578V27.988H32.1578ZM29.842 38.7726H26.5262V40.7726H29.842V38.7726ZM24.6832 40.7727H26.5261V38.7727H24.6832V40.7727ZM21.8419 37.5638V37.9314H23.8419V37.5638H21.8419ZM26.7894 34.6164V32.039H24.7894V34.6164H26.7894ZM6.31588 28.9879H21.7383V26.9879H6.31588V28.9879ZM-1 6.31588V21.672H1V6.31588H-1ZM6.31588 26.9879C3.38 26.9879 1 24.6079 1 21.672H-1C-1 25.7125 2.27543 28.9879 6.31588 28.9879V26.9879ZM26.7894 32.039C26.7894 29.2494 24.5279 26.9879 21.7383 26.9879V28.9879C23.4233 28.9879 24.7894 30.3539 24.7894 32.039H26.7894ZM24.3156 37.0901C25.6818 37.0901 26.7894 35.9825 26.7894 34.6164H24.7894C24.7894 34.878 24.5773 35.0901 24.3156 35.0901V37.0901ZM23.8419 37.5638C23.8419 37.3021 24.054 37.0901 24.3156 37.0901V35.0901C22.9495 35.0901 21.8419 36.1976 21.8419 37.5638H23.8419ZM24.6832 38.7727C24.2186 38.7727 23.8419 38.396 23.8419 37.9314H21.8419C21.8419 39.5006 23.114 40.7727 24.6832 40.7727V38.7727ZM25.5261 39.7726C25.5261 39.2232 25.971 38.7727 26.5261 38.7727V40.7727C27.0813 40.7727 27.5261 40.3221 27.5261 39.7726H25.5261ZM26.5262 38.7726C25.976 38.7726 25.5261 39.2182 25.5261 39.7726H27.5261C27.5261 40.327 27.0763 40.7726 26.5262 40.7726V38.7726ZM32.1578 36.4568C32.1578 37.7358 31.1209 38.7726 29.842 38.7726V40.7726C32.2255 40.7726 34.1578 38.8403 34.1578 36.4568H32.1578ZM33.1578 26.9879C32.6055 26.9879 32.1578 27.4357 32.1578 27.988H34.1578C34.1578 28.5402 33.7101 28.9879 33.1578 28.9879V26.9879ZM32.1579 27.9878C32.1579 27.4356 32.6056 26.9879 33.1578 26.9879V28.9879C33.7102 28.9879 34.1579 28.5402 34.1579 27.9878H32.1579ZM6.31588 -1C2.27543 -1 -1 2.27543 -1 6.31588H1C1 3.38 3.38 1 6.31588 1V-1ZM26.842 1C29.7779 1 32.1579 3.38 32.1579 6.31588H34.1579C34.1579 2.27543 30.8825 -1 26.842 -1V1Z" fill="%23021F29" mask="url(%23path-1-inside-1_2518_1232)"/><mask id="path-3-inside-2_2518_1232" fill="white"><path fill-rule="evenodd" clip-rule="evenodd" d="M36.842 6.31588C36.842 2.82772 39.6698 0 43.1579 0H63.6841C67.1722 0 69.9999 2.82772 69.9999 6.31588V27.9878C69.9999 27.9879 69.9999 27.9879 69.9999 27.9879C69.9998 27.9879 69.9998 27.9879 69.9998 27.988V36.4569C69.9998 38.2881 68.5153 39.7726 66.6841 39.7726H63.3684C63.3684 39.7726 63.3684 39.7726 63.3684 39.7726C63.3684 39.7727 63.3683 39.7727 63.3683 39.7727H61.5255C60.5085 39.7727 59.6841 38.9483 59.6841 37.9314V37.5637C59.6841 36.7498 60.3439 36.0901 61.1578 36.0901C61.9716 36.0901 62.6314 35.4303 62.6314 34.6165V32.039C62.6314 29.8016 60.8176 27.9879 58.5803 27.9879H43.1579C39.6698 27.9879 36.842 25.1602 36.842 21.672V6.31588Z"/></mask><path d="M63.6841 -1H43.1579V1H63.6841V-1ZM70.9999 27.9878V6.31588H68.9999V27.9878H70.9999ZM68.9998 27.988V36.4569H70.9998V27.988H68.9998ZM66.6841 38.7726H63.3684V40.7726H66.6841V38.7726ZM61.5255 40.7727H63.3683V38.7727H61.5255V40.7727ZM58.6841 37.5637V37.9314H60.6841V37.5637H58.6841ZM63.6314 34.6165V32.039H61.6314V34.6165H63.6314ZM43.1579 28.9879H58.5803V26.9879H43.1579V28.9879ZM35.842 6.31588V21.672H37.842V6.31588H35.842ZM43.1579 26.9879C40.222 26.9879 37.842 24.6079 37.842 21.672H35.842C35.842 25.7125 39.1175 28.9879 43.1579 28.9879V26.9879ZM63.6314 32.039C63.6314 29.2494 61.3699 26.9879 58.5803 26.9879V28.9879C60.2654 28.9879 61.6314 30.3539 61.6314 32.039H63.6314ZM61.1578 37.0901C62.5239 37.0901 63.6314 35.9826 63.6314 34.6165H61.6314C61.6314 34.878 61.4193 35.0901 61.1578 35.0901V37.0901ZM60.6841 37.5637C60.6841 37.3021 60.8962 37.0901 61.1578 37.0901V35.0901C59.7916 35.0901 58.6841 36.1975 58.6841 37.5637H60.6841ZM61.5255 38.7727C61.0608 38.7727 60.6841 38.396 60.6841 37.9314H58.6841C58.6841 39.5006 59.9562 40.7727 61.5255 40.7727V38.7727ZM62.3684 39.7726C62.3684 39.2232 62.8132 38.7727 63.3683 38.7727V40.7727C63.9235 40.7727 64.3684 40.3221 64.3684 39.7726H62.3684ZM63.3684 38.7726C62.8182 38.7726 62.3684 39.2182 62.3684 39.7726H64.3684C64.3684 40.327 63.9185 40.7726 63.3684 40.7726V38.7726ZM68.9998 36.4569C68.9998 37.7358 67.963 38.7726 66.6841 38.7726V40.7726C69.0676 40.7726 70.9998 38.8404 70.9998 36.4569H68.9998ZM69.9999 26.9879C69.4475 26.9879 68.9998 27.4357 68.9998 27.988H70.9998C70.9998 28.5402 70.5521 28.9879 69.9999 28.9879V26.9879ZM68.9999 27.9878C68.9999 27.4356 69.4476 26.9879 69.9999 26.9879V28.9879C70.5522 28.9879 70.9999 28.5402 70.9999 27.9878H68.9999ZM43.1579 -1C39.1175 -1 35.842 2.27543 35.842 6.31588H37.842C37.842 3.38 40.222 1 43.1579 1V-1ZM63.6841 1C66.6199 1 68.9999 3.38 68.9999 6.31588H70.9999C70.9999 2.27543 67.7245 -1 63.6841 -1V1Z" fill="%23021F29" mask="url(%23path-3-inside-2_2518_1232)"/></svg>');
			background-repeat: no-repeat;
			margin-right: 20px;
		}

		br {
			@include max(tl) {
				display: none;
			}
		}
	}

	&__answers {
		max-width: 811px;

		& + #{$parent}__answers {
			margin-top: 128px;

			@include max(tl) {
				margin-top: 70px;
			}

			@include max(ti) {
				margin-top: 40px;
			}
		}

		& + .article-block__link {
			margin-top: 77px;
		}

		&--right {
			margin-left: auto;
			margin-right: 86px;

			@include max(ti) {
				margin-right: 0;
			}
		}
	}

	&__answers-wrapper {
		display: flex;
		align-items: flex-start;
		gap: 50px;
		margin-top: 126px;
		margin-left: calc((-100vw + 1088px) / 2 - 20px);

		@include max(1100) {
			margin-left: -20px;
		}

		@include max(tl) {
			margin-top: 90px;
		}

		@include max(ti) {
			flex-direction: column;
			margin-top: 40px;
			margin-left: 0;
		}

		& + #{$parent}__answers {
			margin-top: 100px;

			@include max(tl) {
				margin-top: 80px;
			}

			@include max(ti) {
				margin-top: 40px;
			}
		}

		& + .article-block__link {
			margin-top: 77px;
		}

		&--reverse {
			flex-direction: row-reverse;
			margin-left: 0;
			margin-right: calc((-100vw + 1088px) / 2 - 20px);

			@include max(1100) {
				margin-right: -20px;
			}

			@include max(ti) {
				flex-direction: column;
				margin-right: 0;
			}

			#{$parent}__answers-col {
				&:first-child {
					img {
						margin-left: 0;
						margin-right: auto;
					}
				}
			}
		}

		.answer {
			padding: 23px 20px 29px;

			@include max(tl) {
				flex-direction: column;
				align-items: flex-start;
				gap: 10px;
				padding: 20px;
				border-radius: 20px;
			}

			&__author {
				min-width: 136px;
				max-width: 136px;

				@include max(tl) {
					min-width: auto;
					max-width: 100%;
				}
			}
		}

		.question {
			padding: 40px 0 0 20px;

			@include max(tl) {
				flex-direction: column;
				align-items: flex-start;
				gap: 10px;
				padding: 20px 20px 0;
			}

			&__author {
				min-width: 136px;
				max-width: 136px;
			}
		}
	}

	&__answers-col {
		&:first-child {
			width: calc(51.5% - 25px);

			@include max(ti) {
				width: 100%;
			}

			img {
				max-width: 555px;
				width: 100%;
				height: 100%;
				object-fit: cover;
				margin-left: auto;
				aspect-ratio: 12 / 9;
			}
		}

		&:last-child {
			width: calc(48.5% - 25px);

			@include max(ti) {
				width: 100%;
			}
		}

		img {
			@include max(ti) {
				width: 100%;
				height: 100%;
				object-fit: cover;
				aspect-ratio: 16 / 10;
			}
		}
	}
}
