.solutions-row {
	$parent: &;

	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 20px;
	min-height: 124px;
	background-color: $color-main;
	border-radius: 40px;
	overflow: hidden;
	padding: 26px 40px;

	&--list {
		justify-content: flex-start;
		gap: 40px;

		#{$parent}__item {
			&:first-child {
				min-width: 44px;
				width: 44px;
				height: 44px;
				border-radius: 15px;
				background-color: $white;
			}

			&:last-child {
				width: auto;
				font-family: $secondFont;
				font-weight: 300;
				font-size: 16px;
			}
		}
	}

	&--single {
		#{$parent}__item {
			&:first-child {
				width: auto;
				font-family: $secondFont;
				font-weight: 300;
				font-size: 16px;
			}
		}
	}

	&__item {
		&:first-child {
			width: calc(56% - 10px);
			font-family: $secondFont;
			font-weight: 300;
			font-size: 16px;
		}

		&:last-child {
			width: calc(44% - 10px);
			font-size: 24px;
			line-height: 1;
		}
	}

	&__string {
		font-size: 48px;

		&--small {
			font-size: 18px;
		}
	}
}