.title {
	font-weight: 400;
	font-size: 46px;
	line-height: 1;

	@include max(ti) {
		font-size: 30px;
	}

	@include max(t) {
		font-size: 24px;
	}

	&--big {
		font-size: 50px;
	}

	span {
		color: $color-main;
	}
}