extends ../layouts/default

block vars
	-
		const page = {
			title: 'K2 Cloud'
		};

block main
	.article-block
		.article-block__top
			.container
				.article-annonce
					picture.article-annonce__image
						source(srcset='./images/article/annonce1.webp 1x, ./images/article/annonce1@2x.webp 2x' type='image/webp')
						source(srcset='./images/article/annonce1.webp 1x, ./images/article/annonce1@2x.webp 2x' type='image/webp')
						img(src='./images/article/annonce1.png' srcset='./images/article/annonce1.png 1x, ./images/article/annonce1@2x.png 2x')
					picture.article-annonce__image-small
						source(srcset='./images/article/annonce1small.webp 1x, ./images/article/annonce1small@2x.webp 2x' type='image/webp')
						source(srcset='./images/article/annonce1small.webp 1x, ./images/article/annonce1small@2x.webp 2x' type='image/webp')
						img(src='./images/article/annonce1small.png' srcset='./images/article/annonce1small.png 1x, ./images/article/annonce1small@2x.png 2x')
					h1.article-annonce__title Облачные тренды-2030
						span.article-annonce__subtitle как будет меняться <br> ИТ-климат
						.article-annonce__filler-angle
						.article-annonce__filler-angle-2
					.article-annonce__text.
						Вычислительные ресурсы предоставляются в аренду, разработка унифицируется, а рутинные задачи делегируются
						ИИ — таковы главные тренды в ИТ последних и предстоящих лет. В целях оптимизации компании всё чаще предпочитают
						использовать серверы и процессоры только по мере надобности и заменять собственную инфраструктуру на облачные
						платформы. Какие тренды наиболее заметны и что выступает драйверами роста — в материале CNews.ru.
		.article-block__main
			.container.article-block__container
				.article-block__tags.tags
					.tags__item Облака и ИТ-инфраструктура
					.tags__item Хранение данных
					.tags__item Разработка цифровых сервисов
					.tags__item Инфраструктура для ИИ
				.article-block__title Облака и ИТ-инфраструктура
				.article-block__part.article-part
					.article-part__top
						h2.article-part__title Бессерверные вычисления
						.article-part__years
							span 2026
							span 2030
					.article-part__main
						.article-part__col
							.article-part__text.
								В рамках модели бессерверных вычислений облачные ресурсы предоставляются по факту использования — как в
								случае поминутной тарификации вместо абонентской платы. Причем ни резервировать серверы, ни оплачивать
								фиксированную пропускную способность не требуется — масштабирование услуги происходит автоматически.
								Управление настройками облачной среды со стороны пользователя не предусмотрено, но в его распоряжении
								всегда оказывается столько ресурсов, сколько ему требуется. И, конечно, бессерверными вычисления являются
								для заказчика, но не для поставщика. Последний берет на себя все заботы об инфраструктуре, конфигурации
								и производительности.
						.article-part__col
							.infographic
								.infographic__title Мировой рынок бессерверных вычислений
								.infographic__wrapper
									.infographic__col
										.stat-column
											.stat-column__value <span>7,5</span> млрд $
											.stat-column__pile.stat-column__pile--white(style='height: 31px;')
											.stat-column__year 2023 год
									.infographic__col
										.stat-column
											.stat-column__value <span>29</span> млрд $
											.stat-column__pile(style='height: 121px;')
											.stat-column__year 2030 год
								.infographic__progress.stat-progress
									.stat-progress__value
										span 20%
										+icon('progress-up')(width='14', height='10')
									.stat-progress__text cреднегодовые темпы роста
				.article-block__list.article-list
					.article-list__title Драйверы тренда
					ul.article-list__list.article-list__list--columns-3
						li Снижение затрат на облачную инфраструктуру
						li Ускорение и упрощение <br> процессов администрирования инфраструктуры
						li Рост спроса на event-driven архитектуры
				.article-block__part.article-part
					.article-part__top
						h2.article-part__title Мультиоблачная/гибридная среда
						.article-part__years
							span 2027
							span 2030
					.article-part__main
						.article-part__col
							.article-part__text
								p.
									Если бизнес использует облачные сервисы от разных провайдеров, это означает, что он работает в мультиоблачной среде. 
									Например, у одного поставщика компания может развернуть виртуальные рабочие столы, у другого — 1С, а у третьего — CRM-систему.
									Причем можно сочетать разные типы решений — IaaS, PaaS, SaaS и те же бессерверные вычисления. Главное преимущество этого
									подхода — возможность сформировать оптимальный портфель из облачных сервисов, опираясь на такие критерии, как стоимость, 
									производительность и требования безопасности.
								p.
									Гибридная среда тоже предполагает сочетание — но не публичных облаков разных провайдеров, а частного и публичного облака. 
									Возможна комбинация публичного облака и собственной ИТ-инфраструктуры.
								p.
									Согласно прогнозам, мировой рынок мультиоблачных сред к 2030 г. <a href="https://www.cnews.ru/redirect.php?44898867139b142d9f1" target="_blank">превысит</a> 56 млрд долл.
									Среднегодовые темпы роста в прогнозном периоде составят 28%.
						.article-part__col
							.infographic
								.infographic__title Мировой рынок <br> мультиоблачных <br> сред
								.infographic__wrapper.infographic__wrapper--center
									.infographic__col
										.stat-column
											.stat-progress
												.stat-progress__value
													span 28%
													+icon('progress-up')(width='14', height='10')
												.stat-progress__text cреднегодовые <br> темпы роста
									.infographic__col
										.stat-column
											.stat-column__value <span>56</span> млрд $
											.stat-column__pile(style='height: 121px;')
											.stat-column__year 2030 год
				.article-block__list.article-list
					.article-list__title Драйверы тренда
					ul.article-list__list
						li Рост стоимости <br> инфраструктуры
						li Пересмотр подходов в риск-менеджменте <br> и необходимость «второго плеча», требования ИБ
						li Разные модели тарификации и продуктовые <br> линейки у разных провайдеров, возможность <br> существенной экономии
						li Спрос от продвинутых пользователей облаков на использование сервисов публичных провайдеров, <br> которые отсутствуют у заказчика
				.article-block__part.article-part
					.article-part__top
						h2.article-part__title Infrastructure as Code (IaC)
						.article-part__years
							span 2025
							span 2030
					.article-part__main
						.article-part__col
							.article-part__text
								p.
									Infrastructure as Code (IaC) — методология создания, управления и автоматизации инфраструктуры при помощи программного кода. 
									У нее может быть два подхода — процедурный и функциональный. При первом подходе нужно ответить на вопрос: как изменить 
									инфраструктуру и выстроить последовательность команд, чтобы получить желаемую конфигурацию? Во втором случае речь 
									идет о подборе ресурсов — под существующую конфигурацию. То есть функциональный подход отвечает на вопрос: какие ресурсы требуются?
								p Методология ускоряет и упрощает развертывание и управление инфраструктурой. Поэтому популярность IaС растет год от года.
						.article-part__col
							.infographic
								.infographic__title Мировой рынок IaС
								.infographic__wrapper
									.infographic__col
										.stat-column
											.stat-column__value <span>1,37</span> млрд $
											.stat-column__pile.stat-column__pile--white(style='height: 22px;')
											.stat-column__year 2023 год
									.infographic__col
										.stat-column
											.stat-column__value <span>7,5</span> млрд $
											.stat-column__pile(style='height: 121px;')
											.stat-column__year 2030 год
				.article-block__list.article-list
					.article-list__title Драйверы тренда
					ul.article-list__list
						li Рост популярности мультиоблачных и гибридных сред, более простое управление ими с помощью IaC
						li Поддержка инструментов IaC в облаках <br> крупнейших провайдеров
						li Высокие трудозатраты и риски на развертывание инфраструктуры без автоматизации
				.article-block__part.article-part
					.article-part__top
						h2.article-part__title Управление затратами на инфраструктуру
						.article-part__years
							span 2027
							span 2030
					.article-part__main
						.article-part__col
							.article-part__text
								p.
									Сравнение затрат на облако и on-premise — <a href="https://www.cnews.ru/redirect.php?54310867139b96367ba" target="_blank">второй по значимости фактор</a> для миграции в облако согласно исследованию Flexera.
									Если выбор в пользу облака сделан, то прибегают к практикам FinOps — то есть к управлению затратами на облачные сервисы. 
									Эти практики помогают найти компромисс между финансовым и инженерным отделами компании. Условно говоря, инженеры часто забывают 
									выключать свет или, напротив, нередко сидят в темноте, в то время как финансисты могут помочь не тратить попусту электричество 
									и не допускать ситуаций, когда его не хватает. По данным Flexera, FinOps помогает оптимизировать использование облаков 51% компаний.
								p.
									За рубежом гиперскейлеры очень активно продвигают FinOps: у Amazon Web Services, Microsoft Azure, Google Cloud Platform есть решения 
									и сервисы для управления затратами. Кроме того, развиваются нишевые ИТ-продукты и услуги для управления затратами в облаке и 
									внедряется ИИ для анализа расходов и поиска возможностей оптимизации. В России же популяризация правил расчета ТСО происходит 
									очень медленно. Подходы в этой области будут развиваться, но это станет возможным лишь на горизонте нескольких лет – по достижении 
									более высокого уровня проникновения публичных облаков. Российский рынок отстает от мирового на 5-6 лет, в мире реальный интерес и 
									бизнес-ценность FinOps компании начали ощущать в 2021-2022 гг., в России этот процесс будет происходить в 2026-2027 гг.
						.article-part__col
							.infographic.infographic--no-offset
								.infographic__wrapper
									.stat-description
										.stat-description__item
											p <span>51%</span> международных компаний
											p используют FinOps
										.stat-description__list-title Решения FinOps предлагают <br> топ-3 гиперскейлера
										ul.stat-description__list
											li Amazon Web Services
											li Microsoft Azure
											li Google Cloud Platform
				.article-block__list.article-list
					.article-list__title Драйверы тренда
					ul.article-list__list
						li Расширение инфраструктуры – закупка новых ресурсов или облачное масштабирование
						li Фокус на оптимизацию ИТ-затрат, повышение цен <br> на услуги
						li Рост объема облачных ресурсов и снижение <br> уровня отслеживаемости затрат <br> на инфраструктуру
				.article-block__part.article-part
					.article-part__top
						h2.article-part__title Intelligent Observability
						.article-part__years
							span 2028
							span 2030
					.article-part__main
						.article-part__col
							.article-part__text
								p.
									Observability — не синоним мониторинга, а Intelligent Observability — тем более. Если мониторинг просто
									отслеживает работу сервисов и сообщает о сбоях, то Observability помогает понять, почему случилась неполадка.
									Ответ на вопрос о причинах сбоя кроется в специальных лог-файлах, в которых фиксируется и структурируется
									информация о работе сервиса. Той же цели служит и трассировка приложений. Всё вместе позволяет
									анализировать затраты, производительность и надежность инфраструктуры, а также выявлять угрозы ИБ.
								p.
									В 2023 г. мировой рынок инструментов Observability <a href="https://www.cnews.ru/redirect.php?47874667139be93aa2d" target="_blank">оценивался</a> в 2,4 млрд долл. К 2028 г. прогнозируется его
									рост до 4,1 млрд долл. В России на данный момент ощущается острая нехватка компетенций в области
									Observability – об этом заявляют более 31% компаний. Многие организации используют реактивный мониторинг,
									но он не закрывает потребность в понимании процессов эксплуатации инфраструктуры. Постепенно внедряется
									больше различных инструментов с точечными направлениями прослеживаемости, благодаря чему компании могут
									осуществлять мониторинг разных процессов и продуктов, но уровень развития этих инструментов пока не дотягивает
									до зарубежных решений.
						.article-part__col
							.infographic
								.infographic__title Мировой рынок Observability
								.infographic__wrapper
									.infographic__col
										.stat-column
											.stat-column__value <span>2,4</span> млрд $
											.stat-column__pile.stat-column__pile--white(style='height: 44px;')
											.stat-column__year 2023 год
									.infographic__col
										.stat-column
											.stat-column__value <span>4,1</span> млрд $
											.stat-column__pile(style='height: 74px;')
											.stat-column__year 2028 год
								.article-block__description.stat-description
									.stat-description__item
										p <span>31%</span> российских компаний
										p чувствуют недостаток <br> компетенций Observability
				.article-block__list.article-list
					.article-list__title Драйверы тренда
					ul.article-list__list
						li Усложнение ИТ-систем, развитие бессерверных вычислений и cloud-native архитектур
						li Фокус на снижение затрат на инфраструктуру
						li Усложнение ИТ-инфраструктуры, использование гибридных и мультиоблачных сред
				.article-block__part.article-part
					.article-part__top
						h2.article-part__title Опережающий рост частных облаков
						.article-part__years
							span 2023
							span 2029
					.article-part__main
						.article-part__col
							.article-part__text
								p.
									По <a href="https://www.cnews.ru/redirect.php?95249967139cd9411d0" target="_blank">оценкам</a> iKS-Consulting, в 2022 г. российский рынок облачных инфраструктурных сервисов вырос на
									46,6%, а в 2023 г. — на 34%. Его объем на прошлый год составлял 121,4 млрд руб. Тренд характерен
									для российского рынка и вызван как геополитической ситуацией, так и сложностями в обслуживании
									инфраструктуры. Растет рынок частных облаков и в остальном мире. Если агрегировать данные iKS-Consulting,
									Json&Partners Consulting, провайдеров и интеграторов, то среднегодовые темпы роста частных облаков с
									2023 по 2025 г. составят 30,2%, в то время как в предыдущие три года они были равны 24,7%.
								p.
									Есть и еще один аспект, который способствует опережающему росту частных облаков в России. Раньше их могли
									себе позволить только самые крупные игроки. Однако в текущей ситуации, когда компании озабочены темой
									импортозамещения, многие решили посмотреть шире и сделать выбор в пользу чего-то более технологичного,
									чем обычная виртуализация. Запуск новых систем, собственные исследования и разработки для выполнения
									ключевых бизнес-задач заказчики не хотят выносить за пределы внешнего контура. Отсюда и спрос на гибкую,
									продвинутую инфраструктуру в виде частного облака.
						.article-part__col
							.infographic
								.infographic__wrapper
									.stat-progress
										.stat-progress__subtitle 2023-2025
										.stat-progress__value
											span 30,2%
											+icon('progress-up')(width='14', height='10')
										.stat-progress__text среднегодовые темпы роста <br> частных облаков
				.article-block__list.article-list
					.article-list__title Драйверы тренда
					ul.article-list__list
						li Дефицит кадров и высокий ФОТ специалистов по обслуживанию инфраструктуры
						li Локализация бизнеса международных <br> компаний в России
						li Усложнение ИТ-инфраструктуры, <br> мультивендорность
				.article-block__title Хранение данных
				.article-block__part.article-part
					.article-part__top
						h2.article-part__title Storage as a Service
						.article-part__years
							span 2028
							span 2030
					.article-part__main
						.article-part__col
							.article-part__text.
								Storage as a Service (STaaS) — хранилище в публичном облаке, за администрирование и развитие которого
								отвечает провайдер. Гибридное — объединяет облачное и локальное хранилища. А универсальное хранилище
								интегрирует на одной платформе протоколы файлового и объектного хранилища и имеет специальную масштабируемую
								архитектуру, которая оптимизирована для работы с большими неструктурированными данными. В 2022 г.
								объем мирового рынка <a href="https://www.cnews.ru/redirect.php?37947667139cfd07e10" target="_blank">оценивался</a> в 24,8 млрд долл., а среднегодовые темпы роста до 2029 г. — в 29,3%.
						.article-part__col
							.infographic
								.infographic__title Объем мирового рынка STaaS
								.infographic__wrapper.infographic__wrapper--top
									.infographic__col
										.article-block__description.stat-description
											.stat-description__item
												p <span>24,8</span> млрд $
												p 2022 год
									.infographic__col
										.infographic__progress.stat-progress
											.stat-progress__value
												span 29,3%
												+icon('progress-up')(width='14', height='10')
											.stat-progress__text cреднегодовые <br> темпы роста <br> до 2029 года
				.article-block__list.article-block__list--no-offset.article-list
					.article-list__title Драйверы тренда
					ul.article-list__list
						li Увеличение объемов хранения данных
						li Рост объема неструктурированных данных
						li Ускорение навигации в данных хранилища <br> без резкого роста стоимости
						li Сложность приобретения и поддержки <br> зарубежных хранилищ
						li Импортозамещение инфраструктуры
				.article-block__quote.quote
					.quote__icon
						+icon('quote')(width='124', height='70')
					.quote__text
						p.
							Сегодня в России распространено несколько подходов к работе с данными. Классический вариант — использование
							тяжёлых, высоконагруженных хранилищ, потребляющих много «железа» и ресурсов, постепенно заходит в тупик,
							поскольку бесконечно масштабировать их становится крайне тяжело.
						p.
							Нивелировать недостатки высоконагруженных систем позволяет подход Lake house. Он позволяет разделить
							хранилище и вычисления, храня данные в недорогом хранилище в облаке и подключая к нему сервисы,
							позволяющие в универсальном режиме обрабатывать информацию. Такой подход даёт возможность делать
							с данными всё то же самое, что и раньше, но быстрее, дешевле и комфортнее.
						p.
							В целом всё чаще заказчики выбирают использование облачной инфраструктуры и предложения СУБД как сервиса.
							Мы видим, что в будущем будут активно развиваться SaaS-сценарии, в рамках которых СУБД становится удобным
							сервисом, выполняющим конкретные сценарии и максимально понятным любому пользователю.
					.quote__person
						.quote__image
							img(src='https://static.cnews.ru/img/cnews/2024/10/12/blizgarev2.png', alt='')
						.quote__name
							b Антон Близгарёв
						.quote__position директор по развитию облачного бизнеса Arenadata
				.article-block__title Разработка цифровых сервисов
				.article-block__part.article-part
					.article-part__top
						h2.article-part__title Контейнеризация
						.article-part__years
							span 2024
							span 2030
					.article-part__main
						.article-part__col
							.article-part__text
								p.
									Контейнеризация — один из методов виртуализации, когда ядро операционной системы поддерживает несколько
									изолированных друг от друга приложений. Причем размещены они в специальных файлах — контейнерах.
									Такие файлы — исполняемые, они содержат библиотеки и зависимости. То и другое обеспечивает корректный
									запуск на разных ОС, платформах и облаках. Импульс контейнеризации придало появление стандартов упаковки
									программного кода в контейнеры, которые были разработаны лидерами отрасли в 2015 г. Согласно прогнозам,
									мировой рынок контейнеризации в 2029 г. <a href="https://www.cnews.ru/redirect.php?68509067139d7a6eb78" target="_blank">превысит</a> 2 млрд долл.
								p.
									В России в 2022 году 71% компаний <a href="https://www.cnews.ru/redirect.php?8564526701a6974fd28" target="_blank">использовали</a> технологии контейнеризации, а в 2023 году их число
									выросло еще на 10%. Контейнерные кластеры в собственных средах – наиболее частый вариант инсталляции,
									но в планах – рост потребления кластеров в облаке. Пока многие клиенты используют кластеры в тестовом
									режиме, однако в ближайшее время они будут переходить к масштабированию, тем самым увеличивая потребление.
						.article-part__col
							.infographic
								.infographic__title В России используют контейнеризацию
								.infographic__wrapper
									.infographic__col
										.stat-column
											.stat-column__value <span>71%</span>
											.stat-column__pile.stat-column__pile--white(style='height: 105px;')
											.stat-column__year 2022 год
									.infographic__col
										.stat-column
											.stat-column__value <span>81%</span>
											.stat-column__pile(style='height: 121px;')
											.stat-column__year 2023 год
				.article-block__list.article-block__list--no-offset.article-list
					.article-list__title Драйверы тренда
					ul.article-list__list
						li Упрощение и ускорение разработки, унификация ИТ-инфраструктуры
						li Микросервисные архитектуры – новый стандарт разработки
						li Комьюнити-маркетинг и развитие компетенций разработчиков в управлении приложениями и контейнерах
				.article-block__quote.quote
					.quote__icon
						+icon('quote')(width='124', height='70')
					.quote__text
						p.
							Мы действительно видим бурный и стабильный рост запросов со стороны компаний РФ на решения в области
							контейнеризации и контейнерной оркестрации. При этом, если 2-3 года назад многие просто интересовались
							решениями этого класса как чем-то новым и потенциально интересным для себя, то уже сейчас компании их
							активно используют – как в разработке, так и в промышленных средах.
						p.
							Помимо скорости и удобства клиенты отдают предпочтение тем решениям, в которых сделан комплексный упор
							на информационную безопасность. Это касается вопросов защиты как самого кластера, запущенных контейнеров
							и трафика внутри платформы, так и безопасности инфраструктуры на уровне облака или on premise.
					.quote__person
						.quote__image
							img(src='https://static.cnews.ru/img/cnews/2024/10/12/morar.png', alt='')
						.quote__name
							b Максим Морарь
						.quote__position лидер продукта Nova Container Platform <br> и StarVault <br> Orion soft
				.article-block__part.article-part
					.article-part__top
						h2.article-part__title ИИ-ассистенты разработчика
						.article-part__years
							span 2026
							span 2030
					.article-part__main
						.article-part__col
							.article-part__text
								p.
									ИИ-ассистенты призваны помочь программисту в написании, оптимизации и отладке программного кода.
									Управление разработкой и инфраструктурой — тоже под силу таким помощникам. Причем подсказывают,
									советуют и вносят предложения они на обычном языке — русском или английском. Gartner <a href="https://www.cnews.ru/redirect.php?52832267139e8c5a3a1" target="_blank">ожидает</a>
									массового распространения ИИ-ассистентов на большинстве интерфейсов, с которыми взаимодействуют
									разработчики, к 2026 году.
								p.
									В 2023 г. рынок ИИ-ассистентов <a href="https://www.cnews.ru/redirect.php?56360767139edd455cd" target="_blank">оценивался</a> в 4,86 млрд долл., а среднегодовые темпы роста до 2030 г.
									прогнозировались на уровне 27,1%. Нишевые ИИ-ассистенты разработчиков будут создаваться для всех
									интерфейсов, с которыми они взаимодействуют, например, для IaC, работы с базами данных, работы с
									платформами разработки.
						.article-part__col
							.infographic
								.infographic__title Мировой рынок ИИ-ассистентов
								.infographic__wrapper.infographic__wrapper--top
									.infographic__col
										.article-block__description.stat-description
											.stat-description__item
												p <span>4,86</span> млрд $
												p 2023 год
									.infographic__col
										.infographic__progress.stat-progress
											.stat-progress__value
												span 27,1%
												+icon('progress-up')(width='14', height='10')
											.stat-progress__text темпы роста <br> до 2030 года
				.article-block__list.article-list
					.article-list__title Драйверы тренда
					ul.article-list__list
						li Дефицит и высокая стоимость ресурса разработчиков
						li Большой объем рутинной работы в процессе <br> разработки
						li Недостаток кадров с широкими компетенциями <br> в технологиях разработки и эксплуатации
				.article-block__title Инфраструктура для ИИ
				.article-block__part.article-part
					.article-part__top
						h2.article-part__title GPU as a Service
						.article-part__years
							span 2024
							span 2030
					.article-part__main
						.article-part__col
							.article-part__text
								p.
									GPU в облаке позволяет решать требовательные к ресурсам задачи без капитальных затрат на закупку карт.
									Обучение моделей ИИ, рендеринг визуального контента, анализ больших данных и высокопроизводительные
									вычисления — таковы основные сценарии использования графических процессоров, мощности которых
									предоставляются в аренду. По данным <a href="https://www.cnews.ru/redirect.php?35747867139f12596a7" target="_blank">«Ведомостей»</a>, российский рынок GPU as a Service в 2023 г.
									вырос на 79% и достиг 6,6 млрд руб.
								p.
									На мировом рынке прогнозы развития рынка GPU в облаке очень позитивные, ожидаются темпы роста
									рынка 2023-2030 – на уровне 30-35% в год, что является очень высоким показателем.
						.article-part__col
							.infographic
								.infographic__title Рост рынка GPUaaS в 2023
								.infographic__wrapper.infographic__wrapper--top
									.infographic__col
										.stat-progress
											.stat-progress__subtitle в России
											.stat-progress__value
												span 79%
												+icon('progress-up')(width='14', height='10')
										.stat-description
											.stat-description__item
												p <span>6,6</span> млрд ₽
									.infographic__col
										.stat-progress
											.stat-progress__subtitle в мире
											.stat-progress__value
												span 35%
												+icon('progress-up')(width='14', height='10')
				.article-block__list.article-list
					.article-list__title Драйверы тренда
					ul.article-list__list
						li Быстрый доступ к GPU в облаке
						li Сложность и длительность поставок карт, высокая стоимость
						li Желание протестировать разные GPU
						li Непостоянные нагрузки на GPU
				.article-block__part.article-part
					.article-part__top
						h2.article-part__title Платформы MLOps
						.article-part__years
							span 2027
							span 2030
					.article-part__main
						.article-part__col
							.article-part__text.
								Платформы MLOps представляют собой аппаратную инфраструктуру и платформенные сервисы, предназначенные
								для инженеров машинного обучения и аналитиков больших данных. Реализуются они на базе CPU или CPU
								и GPU одновременно. MLOps можно назвать DevOps’ом для ML-инженеров — тоже автоматизируют сборку и
								развертывание, только не программного обеспечения, а моделей ИИ. На выходе компания получает обученную
								модель, которая часть бизнес-процесса берет на себя. Интерес к MLOps постоянно растет, о чем говорит
								поисковый трафик по теме в Яндексе. В 2022 г. он вырос вдвое, в 2023 г. — на 60%, а в первом полугодии
								2024 г. — на 42%.
						.article-part__col
							.infographic
								.infographic__title Рост запросов <br> по теме ML в России
								.infographic__wrapper
									.stat-progress
										.stat-progress__value
											span 42%
											+icon('progress-up')(width='14', height='10')
										.stat-progress__text темпы роста к 2024 году
				.article-block__list.article-list
					.article-list__title Драйверы тренда
					ul.article-list__list
						li Развитие ИИ
						li Использование MLOps-методологий разработчиками
						li Внедрение практик MLOps (надежное и эффективное развертывание и сопровождение моделей машинного обучения)
						li Активное продвижение ML-платформ облачными провайдерами через комьюнити-маркетинг
				a.article-block__link(href='/')
					+icon('arrow-right')(width='20', height='25')
					span на главную