extends ../layouts/default

block vars
	-
		const page = {
			title: 'K2 Cloud'
		};

block main
	//section.hero
		.hero__bg
			+picture('hero', 'jpg')
			a.hero__logo(href='#', target='_blank')
				+icon('logo')(width='108', height='50')
	section.articles
	section.trends
	section.interview
	section.solutions
	section.feedback
