/* Breakpoints */
$media-list: (
	'm': 0,
	't': 575,
	'ti': 767,
	'tl': 991,
	'd': 1279,
	'dl': 1439,
	'dxl': 1679,
);

/* Fonts */
$mainFont: 'Magistral', sans-serif;
$secondFont: 'IBMPlexSans', sans-serif;

/* Colors */
$black: #021f29;
$white: #ffffff;
$color-background: #30c2c6;
$color-background-2: #5c848f;
$gray-f7: #f7f7f7;
